.content {
    width: 100%;
    background-color:#fcfaf6;   
}
.container{
    background-color:#ffffff;
    display: flex;
    gap: 15px;
}
h1{
    margin-left: 200px;
    display: block;
    width: 700px;
}
.body{
    margin-left: 200px;
    display: block;
    width: 700px;
}
.Tau{
    margin-left: 200px;
    display: block;
    width: 700px;
}
.note{
    margin-left: 200px;
    display: block;
    width: 700px;
    font-size: small;
    white-space: nowrap;
}
.new{
    margin-left: 200px;
    display: block;
    width: 700px;
    background-color: #ffffff;
}
.anhnew{
    float: left;
}
h2{
    font-size: medium;
    font-weight: bolder;
}
